.example-container{
    text-align: center
}

.form-container{
    width: 400px; 
    margin: 0px auto; 
    margin-top: 50px
}

.form-field{
    display: block
}

.dt {
    width: 95%;
    margin: 2%;
  }